{% extends 'base.html' %}

{% block content %}
    <h1>Polls page</h1>
    <h1>Hello Django from <span style='color:#ffaa00'>P10</span></h1>
    <h1>My name <span style='color: rgb(0,102,255)'>Aziz Salimov</span></h1>
    <br>
    <a href="{% url 'polls:questions_lists' %}"> Click to questions</a>

{% endblock %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>homepage</title>#}
{##}
{#</head>#}
{#<body>#}
{#    <h1>Hello: My name Aziz</h1>#}
{#<h1>Salom do'stim nima gaplar <span style='color:#a2ff00'>index</span></h1>#}
{#<h1>Assalomu aleykum <span style="color: aqua">Yaxshimisz</span> </h1>#}
{#</body>#}
{#</html>#}

